main {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
  justify-content: center;
  padding: 0 8px;
}

/* DESKTOP - 4 imagens por linha */
main img {
  width: 23%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* TABLET - 3 imagens por linha */
@media (max-width: 1024px) {
  main img {
    width: 32%;
  }
}

/* CELULAR GRANDE - 2 imagens por linha */
@media (max-width: 768px) {
  main img {
    width: 48%;
  }
}

/* CELULAR PEQUENO - 3 imagens por linha */
@media (max-width: 480px) {
  main img {
    width: 31%; /* 3 imagens por linha */
    margin: 0;
  }
}
